[Desktop Entry]
Name=Data updater for Deepin software center
Comment=Data updater for Deepin software center
Exec=/usr/bin/dsc-daemon
Terminal=false
Type=Application
NoDisplay=true
