[Desktop Entry]
Name=Software Center
Name[zh_CN]=软件中心
Name[zh_TW]=軟體中心
Comment=A general Linux software manager
Comment[zh_CN]=Linux 通用软件管理器
Comment[zh_TW]=Linux 通用軟體管理者
Exec=deepin-software-center %f
Icon=deepin-software-center
Terminal=false
X-MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings
StartupNotify=false
X-Ayatana-Desktop-Shortcuts=ShowUpgrade;ShowUninstall

[ShowUpgrade Shortcut Group]
Name=Open Upgrade Page
Name[zh_CN]=打开更新页面
Name[zh_TW]=打開更新頁面
Exec=/usr/bin/deepin-software-center --page=upgrade
TargetEnvironment=Unity

[ShowUninstall Shortcut Group]
Name=Open Uninstall Page
Name[zh_CN]=打开卸载页面
Name[zh_TW]=打開卸載頁面
Exec=/usr/bin/deepin-software-center --page=uninstall
TargetEnvironment=Unity
