Source: deepin-software-center
Section: admin
Priority: optional
Maintainer:  Li Longyu (Ai Kotoba) <leaeasy@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python (>= 2.6.3~)
Standards-Version: 3.9.2
Homepage: https://github.com/manateelazycat/deepin-software-center
#Vcs-Git: git://git.debian.org/collab-maint/deepin-software-center.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/deepin-software-center.git;a=summary

Package: deepin-software-center
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 python,
 python-apt,
 deepin-ui,
 deepin-software-center-data,
 python-xappy,
 python-deepin-storm,
 xdelta3,
 python-geoip,
Description: Software center for linux deepin
 Linux Deepin (formerly Hiweed GNU/Linux) is an easy-to-use Chinese
 distribution based on Ubuntu. 
 .
 Its features include pre-configured 
 Chinese applications and tools, such as Chinese input method, the 
 LibreOffice office suite, Chinese-English and English-Chinese 
 dictionaries, and Chinese TrueType fonts.
 .
 This package is deepin-software-center which designed for Linux Deepin
 which improves user experience greatly.
